@using CFLSuite.DataContracts.Models
@{
    ViewBag.Title = "Bets";
}

<h2>@ViewBag.Title</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            @(Html.Kendo().Grid<BetGridModel>()
                .Name("betGrid")
                .NoRecords("No Bets")
                .Columns(col =>
                {
                    col.Bound(c => c.BetStarted).EditorTemplateName("DateTimeEditor").Width(200);
                    col.Bound(c => c.Description)
                        .ClientTemplate($"<a title='View Summary' href='{Url.Action("BetSummary", "Bet", new { betID = "#=BetID#" })}'>#=Description#</a>")
                        .EditorTemplateName("TextInput");
                    col.Bound(c => c.WinnerName).Width(150);
                    col.Template(t => { }).ClientTemplate($"<a title='View Redemptions' href='{Url.Action("RedemptionBets", "Bet", new { betID = "#=BetID#" })}'>View Redemptions</a>")
                        .Width(150);
                    col.Command(c =>
                    {
                        c.Edit().UpdateText("Save");
                        c.Destroy();
                    });
                    col.Command(c => c.Custom("editBet").Text("Add/Edit Participants").Click("onAddParticipantsClick")
                            .HtmlAttributes(new { data_url = Url.Action("EditBet", "Bet") })).Width(200);
                })
                .Scrollable()
                .Resizable(r => r.Columns(true))
                .ColumnMenu()
                .Filterable()
                .Sortable()
                .Groupable()
                .Editable(e => e.Mode(GridEditMode.InLine))
                .ToolBar(t => t.Create().Text("Add Bet"))
                .DataSource(ds => ds.Ajax()
                    .Read(r => r.Action("GetBetGridModels", "Bet"))
                    .Create(c => c.Action("SaveBetGridModel", "Bet"))
                    .Update(u => u.Action("SaveBetGridModel", "Bet"))
                    .Destroy(d => d.Action("DeleteBetGridModel", "Bet"))
                    .Model(m =>
                    {
                        m.Id(i => i.BetID);
                        m.Field(f => f.WinnerName).Editable(false);
                    })
                    .Events(e => e.Error("onGridError"))
                )
            )
        </div>
    </div>
</div>

