@using CFLSuite.DataContracts.Models
@{
    ViewBag.Title = "Bets";
}

<h2>@ViewBag.Title</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            @(Html.Kendo().Grid<BetGridModel>()
                .Name("betGrid")
                .NoRecords("No Bets")
                .Columns(col =>
                {
                    col.Bound(c => c.Started);
                    col.Bound(c => c.ThrowTypeDescription);
                    col.Bound(c => c.WinnerName);
                    col.Bound(c => c.WinCount);
                    col.Command(c => c.Destroy());
                })
                .Scrollable()
                .Resizable(r => r.Columns(true))
                .ColumnMenu()
                .Filterable()
                .Sortable()
                .Groupable()
                .ToolBar(t => t.Custom().Text("Add Bet").Url("#").Name("addBet").HtmlAttributes(new { id = "addBet", data_url = Url.Action("AddBet", "Bet")}))
                .Events(e => e.DataBound("onBetGridDataBound"))
                .DataSource(ds => ds.Ajax()
                    .Read(r => r.Action("GetBetGridModels", "Bet"))
                    .Destroy(d => d.Action("DeleteBet", "Bet"))
                    .Model(m =>
                    {
                        m.Id(i => i.BetID);
                    })
                )
    )
        </div>
    </div>
</div>

