@using CFLSuite.DataContracts.Models
@{
    ViewBag.Title = "Bets";
}

<h2>@ViewBag.Title</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            @(Html.Kendo().Grid<BetGridModel>()
                .Name("betGrid")
                .NoRecords("No Bets")
                .Columns(col =>
                {
                    col.Bound(c => c.BetStarted).EditorTemplateName("DateTimeEditor");
                    col.Bound(c => c.Description).EditorTemplateName("TextInput");
                    col.Bound(c => c.WinnerName);
                    col.Bound(c => c.WinCount);
                    col.Command(c =>
                    {
                        c.Edit();
                        c.Custom("addThrows").Text("Add Throws").Click("onAddThrowsClick")
                            .HtmlAttributes(new { data_url = Url.Action("AddThrows", "Bet") });
                    });
                })
                .Scrollable()
                .Resizable(r => r.Columns(true))
                .ColumnMenu()
                .Filterable()
                .Sortable()
                .Groupable()
                .Editable(e => e.Mode(GridEditMode.InLine))
                .ToolBar(t => t.Create().Text("Add Bet"))
                .Events(e => e.DataBound("onBetGridDataBound"))
                .DataSource(ds => ds.Ajax()
                    .Read(r => r.Action("GetBetGridModels", "Bet"))
                    .Create(c => c.Action("SaveBetGridModel", "Bet"))
                    .Update(u => u.Action("SaveBetGridModel", "Bet"))
                    .Model(m =>
                    {
                        m.Id(i => i.BetID);
                        m.Field(f => f.WinnerName).Editable(false);
                        m.Field(f => f.WinCount).Editable(false);
                    })
                )
            )
        </div>
    </div>
</div>

