@using CFLSuite.DataContracts
@model Bet
@{
    ViewBag.Title = "Save Bet";
}

<h2>@ViewBag.Title</h2>

<div class="container-fluid">
    @using (Html.BeginForm("SaveBet", "Bet", FormMethod.Post, new { id = "betForm" }))
    {

    }
</div>

