
@{
    ViewBag.Title = "Edit Bet";
}

<h2>Edit Bet</h2>

<div class="container-fluid">
    @using (Html.BeginForm("SaveBet", "Bet", FormMethod.Post, new { id = "saveBetForm" }))
    {
        <div class="row">

        </div>
    }
</div>